<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mikeyboard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:label="MiEmojiKeyboard"
        android:theme="@style/Theme.AppCompat">

        <service
            android:name=".MyKeyboardService"
            android:label="MiEmojiKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"/>
        </service>

        <activity
            android:name=".EmojiPickerActivity"
            android:label="Añadir Emoji"
            android:exported="false"/>
    </application>
</manifest>
